container_commands:
  01-migrate:
    command: "php artisan migrate --force"
  02-seed:
    command: "php artisan db:seed --force"
  03-storage:
    command: "php artisan storage:link"
  04-jwt:
    command: "yes | php artisan jwt:secret"
  06-cache:
    command: "php artisan cache:forget spatie.permission.cache"
