packages:
  yum:
    epel-release: []
  commands:
    01_install_supervisor_pip:
      command: "pip install supervisor"

container_commands:
  00-enable_supervisor_service:
    command: "systemctl enable supervisord"
    ignoreErrors: true

  02-supervisor:
    command: "echo_supervisord_conf > /etc/supervisord.conf"
    ignoreErrors: true

  03-supervisor-conf:
    command: "echo '' > /etc/supervisord.d/laravel-workers.conf"
    ignoreErrors: true

  04-create-worker-config:
    command: |
      echo '[program:schedule-worker]' >> /etc/supervisord.d/laravel-workers.conf
      echo 'command=php /var/app/current/artisan schedule:work' >> /etc/supervisord.d/laravel-workers.conf
      echo 'process_name=%(program_name)s_%(process_num)02d' >> /etc/supervisord.d/laravel-workers.conf
      echo 'autostart=true' >> /etc/supervisord.d/laravel-workers.conf
      echo 'autorestart=true' >> /etc/supervisord.d/laravel-workers.conf
      echo 'numprocs=1' >> /etc/supervisord.d/laravel-workers.conf
      echo 'redirect_stderr=true' >> /etc/supervisord.d/laravel-workers.conf
      echo 'stdout_logfile=/var/log/laravel-schedule.log' >> /etc/supervisord.d/laravel-workers.conf

      echo '[program:queue-worker]' >> /etc/supervisord.d/laravel-workers.conf
      echo 'command=php /var/app/current/artisan queue:work --queue=process_notifications,default' >> /etc/supervisord.d/laravel-workers.conf
      echo 'process_name=%(program_name)s_%(process_num)02d' >> /etc/supervisord.d/laravel-workers.conf
      echo 'autostart=true' >> /etc/supervisord.d/laravel-workers.conf
      echo 'autorestart=true' >> /etc/supervisord.d/laravel-workers.conf
      echo 'numprocs=1' >> /etc/supervisord.d/laravel-workers.conf
      echo 'redirect_stderr=true' >> /etc/supervisord.d/laravel-workers.conf
      echo 'stdout_logfile=/var/log/laravel-queue.log' >> /etc/supervisord.d/laravel-workers.conf

  05-enable-supervisor:
    command: "supervisord -c /etc/supervisord.conf"
